/* ---- Animación de rebote desde el Header ---- */
@-webkit-keyframes menuAnimacion{
  0%{
    margin-top: 150%;
  }
  60%{
    margin-top: -5%;
  }
  100%{
    margin-top: 0%;
  }
}

body{
  margin: 5px 0;
  background: #02010a;
  font-family: 'Dancing Script', cursive;
}

#contenido{
  width: 900px;
  margin: 5px auto;
  display: flex;
  flex-direction: column;
}

header{
  width: 100%;
  margin: 0 auto;
  background: #5B7989;
  color: white;
  animation: menuAnimacion 1s;
  border-radius: 10px 10px 0 0;
  display: flex;
  flex-direction: row;
}

#titulo{
  vertical-align: middle;
  margin: 0;
  padding: 3% 2%;
  width: 70%;
  font-size: 2.5em;
  text-shadow: 2px 2px 2px #02010a;
}

#menu{
  width: 30%;
  text-align: center;
}

#menu ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
}

#menu ul > li{
  margin: 0;
  padding: 0;
  display: block;
  width: 33.3%;
}

#menu ul > li > a{
  padding: 50% 0;
  color: white;
  display: block;
  flex-flow: row;
  font-size: 1.3em;
}

img{
  filter: drop-shadow(2px 2px 2px #02010a);
}

#imagen-central{
  margin: 0 auto;
  text-align: center;
  width: 100%;
  background: #82C3A6;
}

#imagen-central img{
  margin: 1em auto;
  width: 80%;
}

#secundaria{
  width: 100%;
  background: #d5c75f;
  display: flex;
}

.ima-secundaria{
  width: 50%;
  text-align: center;
  font-size: 1.3em;
  margin-bottom: 1em;
}

.ima-secundaria img{
  margin: 1em auto 0 auto;
  width: 80%;
}

.ima-secundaria a{
  color: black;
}

#img-paisaje{
  transition: transform 1s, filter 1s, border 1s;
}
#img-paisaje:hover{
  transform: rotate(10deg);
  filter: drop-shadow(2px 2px 2px #82c3a6);
  border: 2px solid #82c3a6;
}
#img-retrato{
  transition: transform 1s, filter 1s, border 1s;
}
#img-retrato:hover{
  transform: translate(-20px,-5px);
  filter: drop-shadow(2px 2px 2px #82c3a6);
  border: 2px solid #82c3a6;
}

footer{
  width: 100%;
  border-radius: 0 0 10px 10px;
  background: #C6d5c5;
  display: flex;
}

img[src$=".png"]{
  filter: none;
  border-radius: 10px;
  width: 25px;
  vertical-align: middle;
}

.pie-pagina:nth-child(3) ul > li{
  padding: 3px 0;
}

a[href^="https:"]{
  text-decoration-line: none;
  color: black;
}

.pie-pagina{
  font-size: 1.1em;
  margin: 0 1em 2em 1em;
  width: 25%;
}

.pie-pagina ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media screen and (max-width:899px) {
  body{
    width: 100%;
    font-size: 3vw;
  }
  header{
    flex-direction: column;
  }
  #contenido{
    width: 100%;
  }

  #titulo{
    padding: 0 10.5%;
    margin: 3% 0 1% 0;
    display: block;
    width: 79%;
    text-align: center;
  }

  #menu{
    width: 100%;
  }

  #menu ul {
    margin: 0 20%;
    width: 60%;
  }
  #menu ul > li > a{
    padding: 10% 0 20% 0;
  }
  #secundaria{
    flex-flow: column;
  }
  .ima-secundaria{
    width: 100%;
  }
  footer{
    flex-direction: column;
  }
  .pie-pagina{
    width: 80%;
    margin: 0 10% 10% 10%;
    font-size: 1.2em;
  }
  .pie-pagina:nth-child(n+2) > h1{
    margin-top: 0;
  }
}
